/* HEADER */
.header {
  background: var(--bg-header);
  background-size: cover;
  background-position: top;

  width: 100%;
  height: 450px;
  text-align: center;
  padding: 80px 0;

  transition: all 200ms ease;
}

.theme-changer {
  position: absolute;
  right: 10%;
  background-image: var(--tgl-btn);
  background-size: cover;
  width: 30px;
  height: 30px;
  transition: all 1s ease;
  cursor: pointer;
}

.intro-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* border: 1px solid white; */
}

.title {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  /* border: 1px solid white; */
}

/* .title span {
  background: -webkit-linear-gradient(
    0deg,
    var(--blue-dark),
    var(--blue-light)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.title-span-1 {
  color: white;
  font-size: 14px;
  line-height: 1.25rem;
}

/* .contact-btn {
  display: none;
  color: white;
  font-family: inherit;
  font-weight: 600;
  border: 1px solid #0070f3;
  border-radius: 30px;
  background-color: #0070f3;
  padding: 10px 20px;
  transition: all 300ms ease;
  cursor: pointer;
} */

/* .contact-btn:hover {
  background-color: #5664e0;
  background-color: white;
  color: #0070f3;
  border: 1px solid #0070f3;
} */

.intro-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-img img {
  width: 175px;
}

/* MAIN */
.subtitle {
  color: var(--fg);
  font-size: 24px;
}

.subtitle::after {
  content: '';
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 10px auto;
  background: linear-gradient(
    0deg,
    var(--blue-light) 0%,
    var(--blue-dark) 100%
  );
}

.about {
  background: linear-gradient(180deg, var(--bg) 0%, var(--bg-accent-1) 100%);
  width: 100%;
  padding: 25px 0;
  text-align: center;
  overflow: hidden;
}

.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.illustration {
  display: none;
}

.about-details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  padding: 30px;
}

.about-details-wrapper img {
  animation: icon-wave 2.5s infinite;
  transform-origin: 10% 70%;
}

.about-details-wrapper p {
  color: var(--fg);
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.25rem;
}

.links {
  margin-top: 50px;
}

.links a {
  margin-right: 10px;
  font-weight: 600;
  color: var(--fg);
  transition: all 300ms ease;
}

.links a:hover {
  color: var(--blue-light);
}

.portfolio {
  background: var(--bg-work);
  background-size: cover;
  width: 100%;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  position: relative;
  overflow: hidden;
  margin: 1rem 1rem;
  border-top: 0.5rem solid var(--blue-default);
}

.box img {
  width: 336px;
  display: block;
}

.info {
  background-color: var(--blue-default-alpha);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.caption {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.caption h4 {
  text-transform: uppercase;
  display: block;
}

.caption a {
  display: block;
  margin-top: 5px;
  color: white;
  transition: all 0.3s;
}

.caption a:hover {
  color: var(--cyan-default);
}

.box:hover img {
  transition: all 1s;
  transform: scale(1.5);
}

.box:hover .info {
  transition: all 1s;
  opacity: 1;
  visibility: visible;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.tools {
  background: var(--bg-accent-1);
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

.tools-box {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0.5rem;
  width: 65px;
  height: 65px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.tools-box img {
  height: 35px;
}

.reactjs-icon:hover {
  animation: spin 8s infinite linear;
}

/* FOOTER */
.footer-upper {
  background: var(--footer-up);
  padding: 10px 0;
  text-align: center;
}

.footer-upper p {
  color: white;
  font-size: 14px;
}

.socmed-wrapper a {
  text-decoration: none;
}

.socmed-wrapper a img {
  margin: 10px;
  width: 24px;
  transition: all 300ms ease;
}

.socmed-wrapper a img:hover {
  transform: scale(1.25);
}

.footer-bottom {
  background: var(--footer-bot);
  padding: 5px;
  text-align: center;
}

.footer-bottom p {
  color: #6c757d;
  font-size: 14px;
}

.footer-bottom p a {
  color: white;
  transition: all 300ms ease;
}

.footer-bottom p a:hover {
  color: #00c6fb;
}

/* MEDIA QUERIES */
/* 720px */
@media screen and (min-width: 45rem) {
  .header {
    text-align: left;
    background-position: left;
  }

  .intro-wrapper {
    flex-direction: row-reverse;
  }

  .intro-info {
    align-items: flex-start;
  }

  .intro-img img {
    width: 200px;
  }

  .title {
    font-size: 48px;
  }

  .title-span-1 {
    font-size: 18px;
  }

  .subtitle {
    font-size: 28px;
  }

  .contact-btn {
    display: block;
  }

  .about-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .illustration {
    display: block;
  }

  .illustration img {
    width: 400px;
  }

  .about-details-wrapper {
    align-items: flex-start;
    max-width: 400px;
    margin-top: 0;
  }

  .footer-upper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-upper p {
    font-size: 16px;
  }

  .footer-bottom p {
    font-size: 16px;
  }
}

/* 880 */
@media screen and (min-width: 55rem) {
  .contact-btn {
    padding: 16px 32px;
    font-size: 16px;
  }

  .intro-img img {
    width: 250px;
  }
}

/* 1040 */
@media screen and (min-width: 65rem) {
  .theme-changer {
    right: 15%;
  }

  .intro-wrapper {
    padding: 0 1rem;
    gap: 4rem;
  }

  .intro-img img {
    width: 300px;
  }

  .title {
    font-size: 64px;
  }

  .title span {
    margin: 1rem 0 0 0;
  }

  .title-span-1 {
    font-size: 24px;
    line-height: 2rem;
  }

  .contact-btn {
    font-size: 18px;
  }

  .subtitle {
    font-size: 36px;
  }

  .about-details-wrapper p {
    font-size: 18px;
    line-height: 1.5rem;
  }

  .box img {
    width: 400px;
  }

  .tools-box {
    width: 75px;
    height: 75px;
  }

  .tools-box img {
    height: 45px;
  }
}

/* 1200px */
@media screen and (min-width: 75rem) {
  .header {
    height: 600px;
  }

  .intro-wrapper {
    gap: 5rem;
  }

  .intro-img img {
    width: 350px;
  }

  .illustration img {
    width: 500px;
  }

  .box img {
    width: 432px;
  }
}

/* 1360px */
@media screen and (min-width: 85rem) {
  .theme-changer {
    right: 20%;
  }

  .intro-wrapper {
    gap: 6rem;
  }

  .box img {
    width: 464px;
  }
}

@keyframes icon-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
